.cart-icon-container {
   width: 45px;
   height: 45px;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   transition: all 0.3s ease;

   &:hover {
      transform: translateY(-2px);
   }
   .shopping-icon {
      width: 26px;
      height: 26px;
   }
   .item-count {
      position: absolute;
      font-size: 12px;
      font-weight: bold;
      bottom: 12px;
      color: #f08804;
      font-weight: 700;
   }
}
